@font-face {
  font-family: 'WhitneySSm-Book'; /*a name to be used later*/
  src: url('./fonts/WhitneySSm-Book.woff2'); /*URL to font*/
}

body{
  font-family: 'WhitneySSm-Book';
  line-height: 1.8;
  padding-top: 10px;
}

label{
  margin-bottom: 0rem;
}

@media (max-width: 767px) {
    .pageTitle {
      font-size: 4rem !important; 
    }
}