@font-face {
  font-family: 'WhitneySSm-Book'; /*a name to be used later*/
  src: url('./fonts/WhitneySSm-Book.woff2'); /*URL to font*/
}

body{
  font-family: 'WhitneySSm-Book';
  line-height: 1.8;
  padding-top: 10px;
  margin: 0 auto;
}

label{
  margin-right: .5rem;
}

.col{
  padding: 2px;
}

.btn-sm {
  padding: .2rem .9rem !important;
  line-height: 0.8 !important;
  border-radius: .2rem !important;
}

.appInfo{
  font-size: 0.8rem !important;
}
/* @media (min-width: 675px){
  body{ font-size: 2.5rem;
        max-width: 650px; }
  h2{ font-size: 2.5rem !important; }

} */