@font-face {
  font-family: 'WhitneySSm-Book'; /*a name to be used later*/
  src: url('./fonts/WhitneySSm-Book.woff2'); /*URL to font*/
}

body{
  font-family: 'WhitneySSm-Book';
  line-height: 1.8;
  padding-top: 10px;
}

label{
  margin-bottom: 0rem;
}

.col{
  padding: 2px;
}

.btn-sm {
  padding: .2rem .9rem !important;
  line-height: 0.8 !important;
  border-radius: .2rem !important;
}
