@font-face {
  font-family: 'WhitneySSm-Book'; /*a name to be used later*/
  src: url('../fonts/WhitneySSm-Book.woff2'); /*URL to font*/
}

body{
  font-family: 'WhitneySSm-Book';
  line-height: 1.8;
  padding-top: 10px;
  margin: 0 auto;
}

label{
  margin-right: .5rem;
}

.col{
  padding: 2px;
}

.btn-sm {
  padding: .2rem .9rem !important;
  line-height: 0.8 !important;
  border-radius: .2rem !important;
}

.appInfo{
  font-size: 0.8rem !important;
}

#info{
  border-radius: 50% !important;
}

.btn-sm{
  padding: .25rem .5rem !important;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(0, 218, 83);
  border-radius: 50%;
  display: inline-block;
}

#appName{
  margin-top: 3rem !important;
}

a{
  color: rgb(255, 255, 255) !important;
}

.fas{
  font-size: 2em !important;
  color: rgb(235, 10, 10) !important;
}

.table th {
  border-top: none;
}



.contact-item .contact-item-content {
  padding-left: 45px;
  font-family: "Helvetica Neue","Roboto",sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.contact-item .contact-item-content .title {
  /* filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); */
  opacity: .5;
  display: block;
  font-size: 0.9rem;
}

.contact-item-content input, .contact-item-content textarea {
  border: none;
  padding: 5px 0;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0,0,0,0.32);
  font-weight: 400 !important;
}

.form-check, .form-control, .form-control-file, .form-control-range, .form-text {
  display: block;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}

button, hr, input {
  overflow: visible;
}

.form-control {
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}

.form-control, .form-inline .form-check, .table {
  width: 100%;
}

form {
  display: block;
  margin-top: 0em;
}

.text-left {
  text-align: left!important;
}

.product-container {
  position: relative;
  display: inline-block;
  margin: 2rem 0;
}

@media only screen and (max-width: 1500px)
{.product-container {
    max-width: 80%;
}}